[Unit]
Description=sabatate mc server
After=syslog.target network.target

[Service]
Type=simple
ExecStart=/home/ubuntu/sabatate-mc/service-script/start.sh
WorkingDirectory=/home/ubuntu/sabatate-mc/service-script
KillMode=process
Restart=no

[Install]
WantedBy=multi-user.target
