[Unit]
Description=sabatate mc server
After=syslog.target network.target

[Service]
Type=simple
ExecStart=/home/ubuntu/.nvm/versions/node/v18.3.0/bin/npm start
WorkingDirectory=/home/ubuntu/sabatate-mc/service-script
KillMode=process
Restart=no

[Install]
WantedBy=multi-user.target
