# すべてをignore
*
# すべてのディレクトリをホワイトリストに追加する
!*/

# git関連
!/.gitignore
!/.gitattributes

# 設定ファイル
!/banned-ips.json
!/banned-players.json
!/eula.txt
!/ops.json
!/server-icon.png
!/server.properties
!/usercache.json
!/whitelist.json

# ワールドディレクトリ
!/world/**/*
!/world_nether/**/*
!/world_the_end/**/*

# Modディレクトリ
!/mods/**/*
